/* SECTION STYLING */
.impact-section {
  width:100%; /* Full width */
  background-color: #187bff; /* Blue background */
  color: #fff;
  text-align: center;
  /* More vertical padding for impact */
  box-sizing: border-box; /* Include padding in width */
  margin-bottom: 50px;
  border-radius: 10px;
}

.impact-heading {
  font-size: 1.5rem;
  margin-bottom: 50px;
  
}

/* CARDS CONTAINER */
.impact-container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
}

/* INDIVIDUAL CARD */
.impact-card {
  min-width: 150px;
}

.impact-value {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.impact-label {
  font-size: 1rem;
}

/* RESPONSIVE MEDIA QUERIES */
@media (max-width: 1024px) {
  .impact-container {
    gap: 40px;
  }
  .impact-value {
    font-size: 1.8rem;
  }
  .impact-label {
    font-size: 0.95rem;
  }
}

@media (max-width: 768px) {
  .impact-container {
    flex-direction: column;
    gap: 30px;
  }
  .impact-value {
    font-size: 1.5rem;
  }
  .impact-label {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .impact-heading {
    font-size: 1.5rem;
  }
  .impact-value {
    font-size: 1.3rem;
  }
  .impact-label {
    font-size: 0.85rem;
  }
}





/* Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

/* Modal Box */
.modal-box {
  background: #fff;
  border-radius: 16px;
  padding: 15px;
  width: 320px;
  max-width: 90%;
  position: relative;
  text-align: center;
}

/* Close */
.close-btn {
  position: absolute;
  top: 10px;
  right: 12px;
  cursor: pointer;
  font-size: 18px;
}

/* Image */
.modal-image {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 12px;
}

/* Controls */
.modal-controls {
  display: flex;
  align-items: center;
  margin-top: 12px;
  gap: 10px;
}

/* Play button */
.play-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: black;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

/* Progress bar */
.progress-bar {
  flex: 1;
  height: 6px;
  background: #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background: black;
  transition: width 0.3s ease;
}


@media (max-width: 768px) {
  .modal-box {
    width: 90%;
    padding: 12px;
  }

  .modal-image {
    height: 200px;
  }

  .play-btn {
    width: 35px;
    height: 35px;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .modal-image {
    height: 180px;
  }
}