/* SECTION STYLING */
.impact-section {
  width:100%; /* Full width */
  background-color: #187bff; /* Blue background */
  color: #fff;
  text-align: center;
  /* More vertical padding for impact */
  box-sizing: border-box; /* Include padding in width */
  margin-bottom: 50px;
  border-radius: 10px;
}

.impact-heading {
  font-size: 1.5rem;
  margin-bottom: 50px;
  
}

/* CARDS CONTAINER */
.impact-container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
}

/* INDIVIDUAL CARD */
.impact-card {
  min-width: 150px;
}

.impact-value {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.impact-label {
  font-size: 1rem;
}

/* RESPONSIVE MEDIA QUERIES */
@media (max-width: 1024px) {
  .impact-container {
    gap: 40px;
  }
  .impact-value {
    font-size: 1.8rem;
  }
  .impact-label {
    font-size: 0.95rem;
  }
}

@media (max-width: 768px) {
  .impact-container {
    flex-direction: column;
    gap: 30px;
  }
  .impact-value {
    font-size: 1.5rem;
  }
  .impact-label {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .impact-heading {
    font-size: 1.5rem;
  }
  .impact-value {
    font-size: 1.3rem;
  }
  .impact-label {
    font-size: 0.85rem;
  }
}